@import "variables";
// override router-link
.router-link-exact-active {
  color: #42b983;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
}

.container {
  min-width: 1180px;
  margin: 0 auto;
}

.label {
  font-family: $roboto;
}

.border-danger {
  border: 1px solid $danger !important;
}

.text-small {

}

.text-middle {

}

.text-big {

}

.link {
  display: inline-block;
  color: black;
  font-family: $roboto;
  transition: color 250ms;

  &:visited {
    color: black;
  }

  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid $blue-1;
    transform: scaleX(0); // scale from 0...
    transition: transform 250ms ease-in-out; // to 'hero' (to full width)
  }

  &:hover:after {
    transform: scaleX(1);
  }

  &:hover {
    color: $blue-1;
    transition: color 250ms;
  }

  &:active {
  }
}
