@import "variables";
// override router-link
.router-link-exact-active {
  color: #42b983;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
}

.container {
  min-width: 1180px;
  margin: 0 auto;
}

.label {
  font-family: $roboto;
}

.border-danger {
  border: 1px solid $danger !important;
}

.text-small {

}

.text-middle {

}

.text-big {

}
