$grey-1: #F6F6F6;
$grey-2: #C0C0C0;
$grey-3: #C4C4C4;
$grey-4: #9299B9;
$grey-5: #f8f4f4;
$grey-6: #333;

$blue-1: #0770cf;
$black-1: #1e1e1e;

$red-1: red;
$red-2: #CD0F0F;

$yellow-1: #EDE301;

$roboto: "Roboto", "Helvetica Neue", Arial, sans-serif;
$montserrat: "Montserrat", "Helvetica Neue", Arial, sans-serif;
$electrolize: "Electrolize", sans-serif;

$text-small: 12px;
$text-middle: 16px;
$text-big: 22px;
$task-cards-breakpoint: 626px;

/* BREAKPOINTS */
$sm-extra: 281px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$lg-extra: 1200px;


$card-border-radius: 3px;

$dropdown-z-index:100;