$danger: #CD0F0F;
$grey-1: #F6F6F6;
$grey-2: #C0C0C0;
$grey-3: #C4C4C4;
$grey-4: #9299B9;
$blue-1: #0770cf;
$black-1: #1e1e1e;

$roboto: "Roboto", "Helvetica Neue", Arial, sans-serif;

$text-small: 12px;
$text-middle: 18px;
$text-big: 24px;


/* BREAKPOINTS */
$sm: 576px;
$md: 767px;
$lg: 992px;
$lg-extra: 1200px;


$card-border-radius: 3px;

$dropdown-z-index:100;